/* main style sheet */
@charset "utf-8";

/* FONT CSS 読込 */
@import url("./font.css");
/* @import url("./icon/material-icons.css"); */

/* FOR ALL */
*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family:"NotoSansSC", "メイリオ", Meiryo, Osaka, sans-serif;
	color: #777777;
}
a{
	text-decoration: none;
	display: block;
}
body{
	/* overflow-x: hidden; */
}
section{
	width: 100%;
}
section:last-child{
	padding-bottom: 20px;
}
/* MAIN VISUAL */
.title{
	z-index: 9999;
}
.title h1{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	color: #ffffff;
	/* background-color: rgba(0,0,0,0.5); */
	text-shadow: 
	    black 2px 0px,  black -2px 0px,
	    black 0px -2px, black 0px 2px,
	    black 2px 2px , black -2px 2px,
	    black 2px -2px, black -2px -2px,
	    black 1px 2px,  black -1px 2px,
	    black 1px -2px, black -1px -2px,
	    black 2px 1px,  black -2px 1px,
	    black 2px -1px, black -2px -1px;
    z-index: 9999;
}
.title div.scrollDown i {
	position: absolute;
	bottom: 50px;
	right: 0;
	left: 0;
	margin: auto;
	font-size: 50px;
	text-align: center;
	animation: sizeScale .8s ease-in-out 0s infinite normal;
	cursor: pointer;
}
/* HEADER */
header{
	margin-top: 100vh;
}
nav{
	width: 100%;
}
h1,h2,h3,h4,h5{
	text-align: center;
	text-shadow: 
	#ffffff77 2px 0px,  #ffffff77 -2px 0px,
	#ffffff77 0px -2px, #ffffff77 0px 2px,
	#ffffff77 2px 2px , #ffffff77 -2px 2px,
	#ffffff77 2px -2px, #ffffff77 -2px -2px,
	#ffffff77 1px 2px,  #ffffff77 -1px 2px,
	#ffffff77 1px -2px, #ffffff77 -1px -2px,
	#ffffff77 2px 1px,  #ffffff77 -2px 1px,
	#ffffff77 2px -1px, #ffffff77 -2px -1px;
}
ul, li{
	list-style: none;
}
/* MENU */
nav ul{
	background-color: #ffffff;
	display: table;
	width: 100vw;
	text-align: center;
	margin: 0 auto;
}
nav ul li{
	display: table-cell;
	width: 100px;
	border: solid 1px #777777;
	margin-right: 5px; 
}
nav ul li a {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px 0;
	text-align: center;
	border-radius: 0px;
	background-color: #777777;
}
nav ul li a:hover {
	background-color: #222222;
	color:#EEEEEE;
}

/* CONTENT */
main{
	width: 100%;
}
h2{
	line-height: 20px;
	height: 25px;
	padding: 25px;
}
h2 span {
	font-size: 25px;
}
h2 i{
	font-size: 25px;
	vertical-align: middle;
	padding: 0 20px;
	padding-bottom: 7px;
}
h2 span .and{
	font-size: 15px;
	vertical-align: middle;
}
.material-icons{
	font-size: 25px;
}
.content {
	width: 820px;
	padding: 10px;
	margin: 0 auto;
	display: table;
}
.content > div {
	width: 380px;
	margin: 10px 10px;
	padding: 10px;
	display: table-cell;
	border-right: 1px solid #999999;
	background-color: rgba(255,255,255,0.7);
}
.content > div > div{
	width: 30%;
	display: table-cell;
}
.content.hpdesign > div{
	padding: 0;
	margin: 0 auto;
	display: table;
	width: 100%;
}
.content.hpdesign > div > div > a > img{
	width: 100%;
}
.content.hpdesign > div > div > a {
	text-align: center;
	border: none;
	border-radius: 0;
	background-color: #ffffff;
	width: 95%;
	transition: background-color 0.5s ease-in-out;
}
.content.hpdesign > div > div > a:hover{
	background-color: #777777;
}
.movies div{
	width: 100%;
	text-align: center;
}
.movies div iframe{
	width: 30%;
	height: auto;
}
.content div:last-child{
	border-right: none;
}
.content div h3 span{
	font-size: 20px;
}
.content div h3 i{
	font-size: 20px;
	vertical-align: middle;
	padding: 10px;
	padding-bottom: 15px;
}
.content div h3{
	width: 400px;
	line-height: 20px;
	height: 20px;
	font-size: 16px;
	padding: 10px;
}
.content div .text{
	text-align: center;
	overflow-wrap: break-word;
}
.content.hpdesign div a{
	width: auto;
	height: auto;
}
.content.hpdesign div a img{
	width: 300px;
	height: auto;
}
.content.hpdesign div a p{
	color: #ffffff;
	text-shadow: 0 0 2px #000000;
}
.images{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
.images img{
	width: 75px;
	height: 75px;
	margin: 5px 10px;
	vertical-align: middle;
}
.images img{
	height: auto;
}
.wrapper { 
	background-color: #ffffff;
	z-index: 10;
}
.wrapper > div{
	background-color: #ffffff33;
	margin: 10px 0px;
}
.wrapper > div:first-child{
	margin-top: 0;
}
.bg{
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	min-width: 100vw;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: -9999;
	/* overflow: hidden; */
}
.bg img{
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	min-height: 100vh;
	filter: blur(5px);
	padding: 0;
	margin: 0;
}
/* BACKGROUND PARALLAX CSS*/
.container{
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #000000aa;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
}
.container .scene{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 500;
}
.container .scene div {
	width: 65%;
    height: 45%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}
.box{
	border: solid 1px #777777;
	box-shadow:0px 0px 3px 3px #bbbbbb;
	/* border-radius: 50%; */
}

.fadeIn{
	animation: fadeIn .5s ease-in-out 0s;
	animation-fill-mode:forwards;
}
.fadeOut{
	animation: fadeOut .5s ease-in-out 0s;
	animation-fill-mode:forwards;	
}
.defaultImg{
	display: none;
}
/* SP RESPONSIVE */
@media screen and (max-width: 1000px) {
	.title h1{
		font-size: 80px;
	}
	.wrapper > div > div.content{
		width: 100vw;
		display: block
	}
	.content{
		width: 100%;
		display: block;
		padding: 0px;
	}
	.content > div{
		width: 95%;
		display: block;
		position: relative;
		margin: 0 auto;
		border: none;
	}
	.content.hpdesign > div{
		display: block;
	}
	.content > div > div{
		display: block;
		width: 90%;
		margin: 0 auto;
	}
	.content.hpdesign > div > div > a{
		position: relative;
		margin-bottom: -20px;
		/* background-color: #777777; */
	}
	.content.hpdesign > div > div:last-child > a{
		margin-bottom: 0;
	}
	.content.hpdesign > div > div > a > p{
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		text-shadow: 0 0 2px #000000;
		background: #00000077;
	}
	.content div h3{
		width: 100%;
		padding: 10px 0;
	}
	.title_tips{
		padding-top: 10px;
	}
	.title_tips > h2{
		padding: 0;
	}	
	.title_tips > h2 > i{
		padding: 0;
		padding-bottom: 10px;
	}
	.images{
		width: 100%;
	}
	.movies div iframe{
		width: 90%;
		height: auto;
	}
	.content.hpdesign div img{
		width: 100%;
		height: auto;
		position: relative;
	}
	.content.hpdesign div a{
		width: 80%;
		position: relative;
	}
	.content.hpdesign > div > div > p{
		font-size: 25px;
		position: absolute;
		bottom: 70px;
		left: 50%;
		text-shadow: 0 0 10px #000000;
		color: #ffffff;
		width: 80%;
		text-align: center;
		margin: 0 auto;
		transform: translateX(-50%);
		-webkit- transform: translateX(-50%);
	}
	input[type="submit"] + label {
		width: 80%;	
	}
}

/* CSS ANIMATION */
@keyframes fadeBlackColor {
    0% {
        background-color: #00000000;
    }
    100% {
        background-color: #000000aa;
    }
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sizeScale {
	0% {
		height: 40px;
		color: #ffffff00;
	}
	10% {
		height: 40px;
		color: #ffffff99;
	}
    80% {
        height: 20px;
        color: #ffffffff;
    }
    100% {
        height: 20px;
        color: #ffffffff;
    }
}